.statistics { 
    width: 400px;
    height: 150px;
}

.title { 
    font-size: 32px;
    text-align: center;

    text-transform: uppercase;
}

.statList { 
    display: flex;
    list-style: none;
}

.item { 
    margin-right: 15px;

    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 10px;
}

.percentage { 
    margin-top: 5px;
    font-size: 18px;
}